*{
	margin: 0px;
	padding: 0px;
}

.singleline{
	width: 200px;
	height: 30px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.multiline{
	width: 200px;
	height: 50px;
	line-height: 20px;
	border: 1px solid black;
	overflow: hidden;
}

.clip{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	background-image: url(mv.jpg);
	background-size: 100px 100px;
	background-repeat: repeat;
	background-repeat: no-repeat;
	background-position: 100px 100px;
	background-position: center center;
	background-position: 0% 0%;
}

.logo{
	display: inline-block;
	width: 190px;
	height: 90px;
	border: 1px solid black;
	background-image: url(https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
	background-size: 190px 90px;
	text-decoration: none;

	text-indent: 190px;
	white-space: nowrap;
	overflow: hidden;
}
.logo1{
	display: inline-block;
	width: 0px;
	padding-left: 190px;
	height: 90px;
	border: 1px solid black;
	background-image: url(https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
	background-size: 190px 90px;
	text-decoration: none;

	overflow: hidden;
}
.logo2{
	display: inline-block;
	width: 190px;
	height: 0px;
	padding-top: 90px;
	border: 1px solid black;
	background-image: url(https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
	background-size: 190px 90px;
	text-decoration: none;

	overflow: hidden;
}